@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faf2e7;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body section.qld-area {
    margin: 10px auto;
}

body section.card {
    margin: 10px auto;
}

body section.card-secundary {
    Margin: 10px auto;
}

.top-bar {
    justify-content: center;
    font-family: roboto, sans-serif;
    padding: 0.625rem;
    background-color: #f0e2ce;
    display: flex;
    gap: 6.25rem;
}

.top-bar a {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.top-bar a:hover span {
    color: #025eff;
    text-decoration: underline;
}

.card {
    margin: 30px auto;
    display: flex;
    align-items: normal;
    gap: 20px;
    width: 80%;

    justify-content: center;
    align-items: center;
    border-bottom: solid #999;
    padding-bottom: 10px;
    flex-direction: row;
}

.card img {
    border-radius: 5px;
}


.card-green {
    display: flex;
    flex-direction: column;
    /* empilha título, texto e botões */
    justify-content: center;
    /* centro vertical */
    align-items: center;
    /* centro horizontal */

    background: linear-gradient(90deg, #C8F4C6 10%, #71A86F, #214e1f);
    height: 20em;
    text-align: center;
    gap: 10px;
    /* espaço entre os blocos */
}

.card-green img {
    width: 80px;
    height: auto;
    border-radius: 5%;
}

.card-middle {
    display: flex;
    gap: 20px;
}

.btn {
    width: 10rem;
    height: 3.125rem;
    border-radius: 0.31rem;
    cursor: pointer;
}

.btn-primary {
    background-color: #9aa84c;
}

.btn-secundary {
    background-color: #b0895c;
}

.card-secundary {
    width: 80%;
    column-gap: 40px;
    display: flex;
    justify-content: center;
    border-bottom: solid #999;
}

.card-secundary img {
    width: 15.625rem;
    height: 9.375rem;
    border-radius: 0.31rem;
}

.card-secundary img:hover {
    cursor: pointer;
}

.center {
    text-align: center;
}

.card-product {
    text-align: center;
}

del {
    color: #585858;
    margin-right: 8px;
}

strong {
    color: #1A4A18;
    font-size: 1.1em;
}

.qld-area {
    justify-content: center;
    width: 80%;
    display: flex;
    gap: 7.5rem;
    border-bottom: solid #999;
    padding-bottom: 0.625rem;
}

.qld-itens {
    text-align: center;
    font-weight: 700;
    color: #034619;
}

.qld-area img {
    width: 4.375rem;
    height: auto;
    padding: 0.625rem 3.125rem 4.06rem;
    border: solid #000;
    border-radius: 10%;
    filter: invert(32%) sepia(50%) saturate(400%) hue-rotate(80deg);
}


footer {
    justify-content: center;
    font-family: roboto, sans-serif;
    padding: 10px 10px 10px;
    background-color: #f0e2ce;
    display: flex;
    gap: 100px;
}

footer img {
    width: 50px;
    height: auto;
    padding: 10px;
    cursor: pointer;
}

.contact {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    background-color: #91775a;
    width: 100%;
    height: 15.625rem;
}

/*Conversao para celular*/
@media (max-width: 768px) {

    .card {
        flex-direction: column;
        width: 95%;
        margin: 15px auto;
        text-align: center;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .card-secundary {
        flex-wrap: wrap;
        /* Quebrar linha */
        width: 100%;
        gap: 20px;
        padding: 0 10px;
        box-sizing: border-box; /* Garante que o padding não estoure a tela */
        
    }

    .qld-area {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 100%;
    }

    .qld-area img {
        padding: 10px;
    }

    .top-bar {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        padding: 20px;
    }

    footer {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}