@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faf2e7;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body section.qld-area {
    margin: 10px auto;
}

body section.card{
    Margin: 10px auto;
}

body section.card-secundary{
    Margin: 10px auto;
}


.top-bar {
    justify-content: center;
    font-family: roboto, sans-serif;
    padding: 10px 10px 10px;
    background-color: #f0e2ce;
    display: flex;
    gap: 100px;
}

.top-bar a {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.top-bar a:hover span {
    color: #025eff;
    text-decoration: underline;
}

.card {
    margin: 30px 10px 10px 10px;
    display: flex;
    align-items: normal;
    gap: 20px;
    width: 80%;
   
    justify-content: center;
    align-items: center;
    border-bottom: solid #999;
    padding-bottom: 10px;    
}

.card img {
    border-radius: 5px;
}

.card-green {
    display: flex;
    flex-direction: column;
    /* empilha título, texto e botões */
    justify-content: center;
    /* centro vertical */
    align-items: center;
    /* centro horizontal */

    background: linear-gradient(90deg, #C8F4C6 10%, #71A86F, #214e1f);
    height: 20em;
    text-align: center;
    gap: 16px;
    /* espaço entre os blocos */
}

.card-middle {
    display: flex;
    gap: 20px;
}

.btn {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #5a622c;
}

.btn-secundary {
    background-color: #b0895c;
}

.card-secundary {
    width: 80%;
    column-gap: 40px;
    display: flex;
    justify-content: center;
    border-bottom: solid #999;
}

.card-secundary img {
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.card-secundary img:hover{
    cursor: pointer;
}

.center {
    text-align: center;
}

.card-product {
    text-align: center;
}

del {
    color: #999;
    margin-right: 8px;
}

strong {
    color: #1A4A18;
    font-size: 1.1em;
}

.qld-area {
    justify-content: center;
    width: 80%;
    display: flex;
    gap: 120px;
    border-bottom: solid #999;
    padding-bottom: 10px;
}

.qld-itens {
    text-align: center;
    font-weight: 700;
    color: #29a734;
}

.qld-area img {
    width: 70px;
    height: auto;
    padding: 10px 50px 65px ;
    border: solid #000;
    border-radius: 10%;
}


footer {
    justify-content: center;
    font-family: roboto, sans-serif;
    padding: 10px 10px 10px;
    background-color: #f0e2ce;
    display: flex;
    gap: 100px;
}

footer img {
    width: 50px;
    height: auto;
    padding: 10px;
    cursor: pointer;
}

.contact {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    background-color: #91775a;
    height: 250px;
}
