@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(to bottom,
            #D9CCC5 0%,
            #BFA38A 40%,
            #7C8C3F 100%);

    margin: 0;
    min-height: 100vh;
}

.top-bar {
    font-family: roboto, sans-serif;
    padding: 10px 10px 10px;
    background-color: white;
    display: flex;
    gap: 50px;
    border-radius: 10px;
    margin-top: 10px;
}
.top-bar a {
    color: black;
    font-weight: normal;
}
.top-bar a:hover span {
    color: #103778;
    text-decoration: underline;
}

.card {
    display: flex;
    margin-top: 1em;
    height: 15em;
    width: 30em;
    background-color: white;
    border-radius: 10px;
}

.card-img img{
    width: 250px;
    height: auto;
}

.card-text {
    text-align: center;
    margin: 10px;
    margin-right: 10px;
} 

